<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoMouse.Properties.Settings>
            <setting name="KeyLeftActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyRightActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UseAlert" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoMouse.Properties.Settings>
    </userSettings>
</configuration>